# Auto detect text files and perform LF normalization
* text=auto eol=lf

*.js text eol=lf
*.json text eol=lf
*.go text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.service text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.eidolon binary
